.logo{
    position: absolute; 
    margin-left: 3%;
    margin-top: px;
    width: 11%;
    margin-bottom: 2px;
}

.barra{
    
    background-color: black;
    padding: 1%;
}

ul{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    list-style-type: none;
    justify-content: right;
    padding: 1px;
    border: 0px;
    margin-top: 2%;
    margin-left: 32%;
    font-size: 120%;
    gap: 0px;
}

.busqueda{
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
    background-color: red;
    border-radius: 2%;
    border: solid 5px #ff0000;
    padding: 2px;
}

.home{
    position: relative;
    text-align: right;
    gap: 8%;
    margin-left: 79%;
    margin-right: 5%;
    font-family: 'Magra', sans-serif;
    margin-top: 30px;
}

.search{
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer{
    background-color: black;
    padding: 1%;
}

.deezer{
    position: absolute; 
    margin-left: 3%;
    margin-top: 1%;
    width: 15%;
    margin-bottom: 0px;
}

.ulfooter{
    margin-left: 32%;
    font-family: 'Magra', sans-serif;
    gap: 5px ;   
}


b.ody{
    background: url(../img/fondo7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


body{
    background: url(../img/fondo11.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


bo/dy{
    background-color: rgba(0, 0, 0, 0.849);
}

.zoom{
    background-color: rgba(100, 100, 
    100, 0.5);
    position: absolute;
    top: 50%;
    padding: 50px;
    width: 280px;
    text-align: center;
    
    
}

.photo-container{
    position: relative;
    top: 0;
    
}

h1{
   margin-top: 2%;
   margin-left: 1%;
   margin-bottom: 2%;
   color: white;
   font-family: 'Arvo', serif;
   text-shadow: 2px 2px red;
   
}

h2{
    position: relative;
    margin-top: 0%;
    font-family:  'Raleway', sans-serif;
    color: white ;
    font-size: 120%;
    text-align: center;
}


.playlistsec{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5%;
    margin-left: 0%;
    margin-bottom: 0%;
    text-align: center;
}

.sep/ara{
    background-color: rgba(167, 0, 0, 0.418);
    padding: 1%;
    height: 1px;    
}

.photo{
    border-radius: 25%;
    border: solid 5px #ff0000;
}

@media all and (max-width: 600px){

    .barra {
        display: grid;
        font-size: x-small;
        width: 100%;
    }
    .busqueda {
        display: none;
    }

    div ul {
        margin-left: 20%;
    }

    .logo {
        margin-left: 1.5%;
        margin-top: 5%;
    }

    h2 {
        font-size: medium;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    h3 {
        font-size: small;
    }

    .playlistsec {
        display: block;
        text-align: center;
    }
    
    .footer li {
        font-size: x-small;
    }
    
}


   