body {
    background-size: cover;
    min-width: 100%;
    background-color: rgb(27, 28, 27);
    font-family: 'Magra', sans-serif;
    color:  white;
}

/**comienzo css header**/
.barra {
    display: grid;
    background-color: black;
    grid-template-rows: auto;
}

.logo {
    width: 20%;
}

button{
    background-color: transparent;
    border: transparent;
}


ul {
    display: flex; 
    list-style-type: none;
    margin-right: 3%;
}

.palabra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 2%;
    justify-content: space-around;
    
}

a{
    text-decoration: none;
    color: white;
}

/**fin css header**/

#header-playlist {
    display: flex;
    color: white;
    margin-left: 3%;
}

#titulo {
    display: block;
    margin-left: 3%;
    margin-top: 6%;
    font-size: normal;
}

#playlistpic {
    width: 20%;
    height: 20%;
    padding: 1px;
    margin-top: 6%;
}


.canciones {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: 5%;
    margin-top: 5%;
    font-size: normal;
    color: white;

}

.footer {
    background-color: black;
}

#deezer {
   width: 8%;
   display: block;
   margin: auto;
}


#alumnos {
   font-size: x-small;
   color: white;
   text-align: center;
}



#generos ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
   }

   #generos ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }

   #generos ul li:hover {
    background:#5b78a7;
   }