body{
    background-color: rgb(27, 28, 27);
    font-family: 'Magra', sans-serif;
}


.logo{
    position: absolute; 
    margin-left: 3%;
    margin-top: 0px;
    width: 11%;
    margin-bottom: 2px;
    border-radius: 10% 
}

.barra{
    display: grid;
    background-color: black;
    padding: 1%;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    padding: 1px;
    border: 0px;
    margin-top: 2%;
    margin-left: 32%;
    font-size: 120%;    
}



a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.zoom{
    background-color: rgba(100, 100, 
    100, 0.5);
    position: absolute;
    top: 50%;
    padding: 50px;
    width: 280px;
    text-align: center;
}

.photo-container{
    position: relative;
    top: 0;
    color: white;
}

.photo-container img {
    border-radius: 50%;
    transition: width 2s, height 2s, transform 2s;
        -moz-transition: width 2s, height 2s, -moz-transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        -o-transition: width 2s, height 2s,-o-transform 2s;
}

.photo-container img:hover {
    transform : scale(1.2);
        -moz-transform : scale(1.2);      /* Firefox */
        -webkit-transform : scale(1.2);   /* Chrome - Safari */
        -o-transform : scale(1.2);        /* Opera */
}

h1{
   margin-top: 7%;
   margin-left: 1%;
   margin-bottom: 5%;
   color: white;
}

h2{
    position: relative;
    margin-left: 14.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
   
}

.playlistsec{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin-left: 6%;
    margin-bottom: 5%;
    margin-top: 6%;

}

@media all and (max-width: 600px){

    .barra {
        display: grid;
        font-size: x-small;
        width: 100%;
    }

    div ul {
        margin-left: 20%;
    }

    .logo {
        margin-left: 1.5%;
    }

    h2 {
        font-size: medium;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    h3 {
        font-size: small;
    }

    .playlistsec {
        display: block;
        text-align: center;
    }
    
}

.barra ul li:hover {
    background-color: #5b78a7;
}

/** footer css **/

.footer {
    background-color: black;
}

#deezer {
    width: 8%;
    display: block;
    margin: auto;
 }
 
 
 #alumnos {
    font-size: x-small;
    color: white;
    text-align: center;
 }


   