.barra {
    display: grid;
    background-color: black;
    grid-template-rows: auto;
}

.logo {
    width: 20%;
}



ul {
    display: flex; 
    list-style-type: none;
    margin-right: 3%;
}

.palabra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 200px;
    justify-content: space-around;
    
}

a{
    text-decoration: none;
    color: white;
}

.footer {
     background-color: black;
}

#deezer {
    width: 8%;
    display: block;
    margin: auto;
}


#alumnos {
    font-size: xx-small;
    color: white;
    text-align: center;
}
