.logo{
    position: absolute; 
    margin-left: 3%;
    margin-top: px;
    width: 12%;
    margin-bottom: 2px;
  }
  
  .barra{
    background-color: black;
    padding: 1%;
  }
  
  ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    list-style-type: none;
    justify-content: right;
    padding: 10px;
    border: 0px;
    margin-top: 2%;
    margin-left: 32%;
    font-size: 120%;
    gap: 0px;
  }
  
  .busqueda{
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
    background-color: red;
    border-radius: 2%;
    border: solid 5px red;
    padding: 2px;
  }
  
  .home{
    position: relative;
    text-align: right;
    gap: 8%;
    margin-left: 79%;
    margin-right: 5%;
    font-family: 'Magra', sans-serif;
    margin-top: 30px;
  }
  
  .search{
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  
  .footer{
    background-color: black;
    padding: 1%;
    position: fixed;
    width: 100%;
  }
  
  .deezer{
    position: fixed; 
    margin-left: 3%;
    margin-top: -1%;
    width: 15%;
    margin-bottom: 0px;
  }
  
  .ulfooter{
    margin-left: 32%;
    font-family: 'Magra', sans-serif;
    gap: 6px ;   
  }
  
  body {
    background: #181818;
    font-family: 'Roboto', sans-serif;
  }
  body a {
    color: #aaaaaa;
  }
  body a:hover {
    color: #c8c8c8;
  }
  
  .artist {
    height: 617px;
    overflow-y: scroll;
  }
    
    @media all and (max-width: 600px){
      .barra {
          display: grid;
          font-size: x-small;
          width: 100%;
      }
      .busqueda {
          display: none;
      }
    
      div ul {
          margin-left: 20%;
      }
    
      .logo {
          margin-left: 1.5%;
          margin-top: 5%;
      }
      
      .footer li {
          font-size: x-small;
      }
    }
  
    .headerdelartista {
      height: 320px;
      border-bottom: 1px solid #282828;
      position: relative;
      background-image: url();
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: 1;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
    }
    
    .headerdelartista:before { 
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      content: ' ';
      opacity: 0.15;
      background-image: url(../IMG/maluma.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    }
    
    .headerdelartista .infodelartista {
      padding: 15px;
      z-index: 1;
      width: 80%;
      margin-top: 78px;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
    }
  
    .headerdelartista .infodelartista .profile__img img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .headerdelartista .infodelartista-3 {
      color: #aaaaaa;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
    }
    .headerdelartista .infodelartista-4 {
      color: white;
      font-size: 36px;
      font-weight: 100;
      padding: 0 0 10px 0;
    }
    .headerdelartista .infodelartista-5 {
      display: flex;
      flex-flow: row wrap;
    }
    .headerdelartista .infodelartista-5 button {
      margin-right: 10px;
      height: 27px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 0 15px;
      font-weight: 500;
    }
    .headerdelartista .infodelartista-5 button i {
      font-size: 20px;
      margin-right: 5px;
    }
    .headerdelartista .infodelartista-5 .more {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      padding: 0;
      text-align: center;
    }
    .headerdelartista .infodelartista-5 .more i {
      margin: 0;
      padding-left: 6px;
    }
    .headerdelartista .oyentesdelartista {
      width: 20%;
      z-index: 1;
      padding: 15px;
      text-align: right;
      color: #aaaaaa;
      font-weight: 100;
      font-size: 16px;
      letter-spacing: 1px;
    }
    .headerdelartista .oyentesdelartista_mes {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
    }
   
    .contenidodelartista {
      padding: 15px;
    }
    .contenidodelartista .repasogeneral {
      display: flex;
      flex-flow: row wrap;
    }
    .contenidodelartista .artista-repasogeneral {
      padding-right: 15px;
      width: 100%;
    }
    .contenidodelartista .artista-repasogeneral .latest-release {
      margin-bottom: 30px;
      display: flex;
      flex-flow: row wrap;
    }
    .contenidodelartista .artista-repasogeneral .latest-release__art {
      width: 75px;
    }
    .contenidodelartista .artista-repasogeneral .latest-release__art img {
      width: 75px;
      height: 75px;
    }
    .contenidodelartista .artista-repasogeneral .latest-release__song {
      width: calc( 100% - 75px );
      padding: 10px 15px;
      background: #282828;
      color: #aaaaaa;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }
    .contenidodelartista .artista-repasogeneral .latest-release__song__title {
      color: #c8c8c8;
    }
  
    .contenidodelartista .overview__related {
      width: 30%;
    }
    @media (max-width: 1024px) {
      .contenidodelartista .artista-repasogeneral {
        width: 100%;
      }
      .contenidodelartista .overview__related {
        width: 100%;
        margin-top: 15px;
      }
    }
    @media (max-width: 768px) {
      .contenidodelartista .artista-repasogeneral {
        padding-right: 0;
      }
    }
    
    @media (max-width: 522px) {
      .headerdelartista {
        height: auto;
        flex-flow: column wrap;
      }
      .headerdelartista .infodelartista {
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
      }
      .headerdelartista .infodelartista .profile__img {
        margin-right: 0;
      }
      .headerdelartista .infodelartista-3 {
        margin-top: 10px;
      }
      .headerdelartista .oyentesdelartista {
        width: 100%;
        text-align: center;
      }

    .cosotransparente {
      background: none;
      color: #c8c8c8;
      border: 1px solid #c8c8c8;
    }
    .cosotransparente:hover {
      border-color: white;
      color: white;
    }

    .tituloselecto {
      text-transform: uppercase;
      color: #aaaaaa;
      letter-spacing: 1.25px;
      font-size: 13.2px;
      margin-bottom: 10px;
      }

    }
    .canciones {
      display: flex;
      flex-flow: column wrap;
      margin-bottom: 15px;
    }
    
    .canciones .cancionindividual {
      border-top: 1px solid #282828;
      height: 42px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .canciones .cancionindividual:hover {
      background: #282828;
    }
   
    .canciones .imagenesdecancion img {
      width: 42px;
      height: 42px;
    }
    .canciones .numerodecancion {
      margin-left: 10px;
      color: #aaaaaa;
      width: 12px;
    }
    .canciones .adiciondecancion {
      margin-left: 30px;
      color: #c8c8c8;
    }
    .canciones .adiciondecancion .added {
      color: #c8c8c8;
    }
    .canciones .adiciondecancion .not-added {
      color: #aaaaaa;
    }
    .canciones .titulodecancion {
      width: 45%;
      margin-left: 30px;
      color: white;
    }
    .canciones .titulodecancion.featured .title:after {
      content: "-";
      margin: 0 5px;
    }
    .canciones .titulodecancion.featured .feature {
      color: #aaaaaa;
    }
    .canciones .titulodecancion.featured .feature:after {
      content: ",";
      margin-right: 5px;
    }
    .canciones .titulodecancion.featured .feature:last-child:after {
      content: "";
      margin-right: 0;
    }
    .canciones .titulodecancion.featured .feature:hover {
      cursor: pointer;
      color: #c8c8c8;
      text-decoration: underline;
    }
    
    .canciones .rereproduccionesdecancion {
      color: #aaaaaa;
      margin-left: auto;
      padding-right: 10px;
    }
    .canciones .track__length {
      margin-left: auto;
      color: #aaaaaa;
    }
    
    @media (max-width: 1200px) {
      .canciones .titulodecancion {
        width: auto !important;
      }
    }

    button {
      border-radius: 20px;
      border: none;
      padding: 5px 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      outline: none;
    }
    button:hover {
      cursor: pointer;
    }
    
    .cosorojo {
      background: #d71e1e;
      color: white;
      border: 1px solid #d71e1e;
    }
    .cosorojo:hover {
      background: #d71e1e;
    }
    .cosotransparente {
      background: none;
      color: #c8c8c8;
      border: 1px solid #c8c8c8;
    }
    .cosotransparente:hover {
      border-color: white;
      color: white;
    }

    .tituloselecto {
      text-transform: uppercase;
      color: #aaaaaa;
      letter-spacing: 1.25px;
      font-size: 13.2px;
      margin-bottom: 10px;
      }