.logo{
    position: absolute; 
    margin-left: 3%;
    margin-top: px;
    width: 11%;
    margin-bottom: 2px;
}

.barra{
    
    background-color: black;
    padding: 1%;
}

#generos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imagenh{
    border-radius: 25%;
    border: solid 5px #ff0000;
    width: 50%;
    
    
}

ul .home{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    list-style-type: none;
    justify-content: right;
    padding: 1px;
    border: 0px;
    margin-top: 2%;
    margin-left: 32%;
    font-size: 120%;
    gap: 0px;
}

.busqueda{
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
    background-color: red;
    border-radius: 2%;
    border: solid 5px #ff0000;
    padding: 2px;
}

.home{
    position: relative;
    text-align: right;
    gap: 8%;
    margin-left: 75%;
    margin-right: 5%;
    font-family: 'Magra', sans-serif;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8%;
    font-size: 19px;
}

.search{
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer{
    background-color: black;
    padding: 1%;
    font-family: 'Magra', sans-serif;
    
}

.footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-decoration: none;
    list-style-type: none;
    margin-left: 20%;

}

.deezer{
    position: absolute; 
    margin-left: 3%;
    margin-top: 0%;
    width: 15%;
}

input {
    border-color: transparent;
}


body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #181818;
}

h3{
    font-family:  'Raleway', sans-serif;
    color: white ;
    font-size: 120%;
    margin-top: 0px;
    position: relative;
}

.text{
    color:#f2f2f2;
    position:absolute;
    bottom:px;
    width:100%;
    text-align:center;
    font-family: 'Raleway', sans-serif;
   }
   
   .numbertext{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
   }
   .fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
   }
   
   @-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity:1}
   }
   
   @keyframes fade{
    from{opacity:.4}
    to{opacity:1}
   }



.zoom{
    background-color: rgba(100, 100, 
    100, 0.5);
    position: absolute;
    top: 50%;
    padding: 50px;
    width: 280px;
    text-align: center;
}




h2{
   margin-top: 7px;
   margin-left: 2.5px;
   margin-bottom: 2.5px;
   color: white;
   font-family: 'Arvo', serif;
   text-shadow: 2px 2px red;
   
}

.photo-container img {
    
    border-radius: 20%;
    margin-right: 15px;
    
    transition: width 2s, height 2s, transform 2s;
        -moz-transition: width 2s, height 2s, -moz-transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        -o-transition: width 2s, height 2s,-o-transform 2s;

}

.photo-container img:hover {
    transform : scale(1.2);
        -moz-transform : scale(1.2);      /* Firefox */
        -webkit-transform : scale(1.2);   /* Chrome - Safari */
        -o-transform : scale(1.2);        /* Opera */
}


.playlistsec{
    margin-top: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0;
    margin-bottom: 2%;
    text-align: center;
}

.logos-redes {
    color: white;
    list-style-type: none;
    display: flex;
    text-align: center;
}

h2 {
    display: block;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 3%;
}


.photo{
    border-radius: 25%;
    border: solid 5px #ff0000;
}

@media all and (max-width: 600px){

    .barra {
        display: grid;
        width: 100%;
    }
    ul li{
        text-align: center;
        font-size: x-small;
    }
    .home{
        margin-right: 100px;
    }
    h2{
        font-size: x-large;
    }
    .barra img{
        margin-top: 20px;
        
    }
    .busqueda {
        display: none; }

    .logo {
        margin-left: 3px;
        margin-top: 10px;
    }

    h2 {
        font-size: x-large;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    h3 {
        font-size: medium;
    }

    div .generos {
        display: grid;
    }
    .photo-container{
        margin: 10px 3px;
        
    }
    .photo-container img{
        width: 90px;
    }
    .footer li {
        font-size: xx-small
    }
    div .iconos ul li {
        display: none;
    }
    .footer img {
        margin-top: 25px;
    }

    
}

@media (min-width: 600px) and (max-width: 850px) {
    .barra {
        display: grid;
        font-size: small;
        width: 100%;
    }
    .barra img{
        margin-top: 0;
    }
    .busqueda {
        display: none;
    }
    ul li .home {
        font-size: xx-small;
        margin-right: 20px;
    }

    div ul {
        margin-left: 20%;
    }

    .logo {
        margin-left: 1.5%;
        margin-top: 5%;
    }

    h2 {
        font-size: xx-large;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 0;
    }
    h3 {
        font-size: medium;
    }

    .playlistsec {
        display: block;
        text-align: center;
    }
    .photo-container{
        margin-bottom: 28px;
        margin-left: 70px;
    }
    
    .footer li {
        font-size: xx-small
    }
    div .iconos ul li {
        display: none;
    }
    .footer img {
        margin-top: 25px;
    }
    
}
